name: deploy-from-master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: |
        dotnet build -c Release --no-restore './WebAPI/WebAPI.csproj'
        dotnet build --no-restore './WebAPI.UnitTests/WebAPI.UnitTests.csproj'
    
    - name: Test
      run: dotnet test --no-restore --verbosity normal './WebAPI.UnitTests/WebAPI.UnitTests.csproj'
    
    - name: Publish to Azure
      run: dotnet publish './WebAPI/WebAPI.csproj' -o ./publish -c Release

    - uses: azure/webapps-deploy@v2
      with:
        app-name: 'cuna-backend-coding-challenge'
        publish-profile: ${{ secrets.azureWebAppPublishProfile }}
        package: ./publish/
